@font-face{
        font-family: mainFont;
        src: url(http://team1.mis2200.sbe.mtu.edu/ACES//resources/raleway_thin-webfont.woff);
    }

html {
	background-image: url(http://team1.mis2200.sbe.mtu.edu/ACES//resources/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
body{
	font-family: Lato;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
	background: rgba(255, 255, 255, 0.80);
	border: solid;
	border-color: #3B2C04;
	border-width: 2px;
	border-radius: 15px;
	

}
.headingOne{
	font-family: mainFont;
	text-align: center;
	font-size: 300%;

      
}
.main-navigation{
	font-family: Lato;
	text-align: center;
	font-weight: bold;
	
	

}

.main-navigation div ul li a{
	text-decoration: none;
	color: black;
	display: block;
	padding-bottom: 1em;
	padding-top: .8em;
	
}

footer p{
	font-size: 90%;
	font-family: Lato;
	line-height: 40%;
	text-align: center;
}
.line{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
	clear: both;
	
}
.main-navigation div ul li{
	background-image: url(http://team1.mis2200.sbe.mtu.edu/ACES//resources/buttonback.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 3em;
	width: 8.8em;
  line-height: 110%;
  vertical-align: middle;
  text-align: center;
  list-style-type: none;
  margin: .5em;
  display: inline-block;
  position: relative;


}
#content{
	padding: 1em;
}
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.entry-title{
	text-align: center;
}
.entry-title a{
	text-align: center;
	text-decoration: none;
	color: #000000;

}
.entry-meta{
	text-align: center;
}
.entry-meta span a{
	text-decoration: none;
	padding-right: 1em;
	color: #514737;
}
.entry-title a:hover{
	text-decoration: underline;
	color: #000000;
}
.entry-meta span a:hover{
	text-decoration: underline;
	color: #262019;
}
.entry-meta div a:hover{
	text-decoration: underline;
	color: #262019;
}
.entry-meta div a{
	text-decoration: none;
	padding-right: 1em;
	color: #514737;
}
form{
	padding-left: 40%;
}
nav div ul li a:hover{
	text-decoration: underline;
}

@media only screen and (max-width: 768px){
	.image{
		display: none;
	}
}